*{
    font-family: "Share Tech Mono", monospace;
}

#titulo{
     text-align: center;
     font-size: 55px;
     color: #ffffff;
}
ul{
    font-size: 35px;
    text-align: center;
    text-decoration: none;
}
li{
    font-size: 35px;
    width: 70%;
    margin-right: 25%;
    margin-left: 5%;
    
}

#tablero{
    background-image: url("../img/snake_wall.jpg");
    /* background-size: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: contain;
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}


#board  {
    background-color: transparent;
    color:white;
    font-size: xx-large;
    background-size: contain;
    width:50%;
    height: 550px;
    margin-left: 25%;
    margin-right: 25%;
    display: grid;
    aspect-ratio: 1;
    grid-template-columns: repeat(10,1fr) ;
    grid-template-rows: repeat(10, 1.5fr);
    text-align: center;
}
#startButton{
    background-color: #ee1742;
    font-size: 35px; 
    font-weight: 700;
    text-align: center;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
}


#mensaje{
    text-align: center;
    width: 600px;
    height: 80px;
    background-color: #ee1742;
    padding: 20px;
    border-radius: 30px;
}

#gameOver{
    display: none;
}

.score{
    height: auto;
    text-align: center;
    display: justify;
    color: white;
 }

 #scoreBoard {
    display: inline-block;
    width: 4em;
    color:#21b307;
    background-color: #ffffff;
    border-radius: 25px;
    
}

/*CUADROS DE LA SERPIENTE*/
.emptySquare{
    background-color: rgb(71, 35, 128);
}

.snakeSquare{
    background-color: rgb(57, 217, 39);
}

.foodSquare{
    background-color: rgb(252, 67, 129);
}

#gameOver{
    font-family: "Share Tech Mono", monospace;
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(199, 11, 114);
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 45px;
}