*{
    font-family: "Share Tech Mono", monospace;
}

#board, .boardInfo{
    max-width: 500px;
}

#board {
    width:300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(10, 1fr) ;
    /* background-color: rgb(217, 242, 241); */

}

#startButton, .boardInfo{
    font-size: 25px;
}

#gameOver{
    display: none;
}

.boardInfo{
    display: flex;
    justify-content: space-between;
}

#startButton{
    background-color: crimson;
    border: none;
    color:antiquewhite;
    font-size: larger;
    font-size: 20px;
    padding: 10px;
}

#scoreBoard{
    display: inline-flex;
}

.score{
    aspect-ratio: 1;
}

.emptySquare{
    background-color: rgb(49, 70, 237);
}

.snakeSquare{
    background-color: rgb(228, 160, 59);
}

.foodSquare{
    background-color: palevioletred;
}
